#own-account-container-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  section {
    position: relative;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    padding: 0 20px;
    background: var(--theme-background);
  }
}

@media (max-width: 1000px) {
  #own-loader-container-div {
    grid-template-rows: max(70px, 20vh) max(600px, 70vh) 10vh;
  }
}
