#own-game-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);

  align-items: center;
}

.own-game-unchosen-side-div {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right bottom,
      var(--p-30),
      var(--a-20)
    );
    z-index: -1;
    border-radius: inherit;
    padding: 3px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}

#own-game-filed-container {
  display: grid;
  width: 100%;
  height: 90%;
  gap: max(4px, 0.1vw);
  box-sizing: border-box;
  padding: 0 15%;
  align-items: center;
  justify-content: center;
  grid-column: 4/18;
}

span {
  -webkit-background-clip: inherit;
  background: linear-gradient(
    to bottom right,
    light-dark(var(--p-70), var(--p-60)),
    light-dark(var(--a-70), var(--a-70))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1400px) {
  #own-game-filed-container {
    padding: 0 5%;
  }
}

@media (max-width: 1200px) {
  #own-game-filed-container {
    padding: 0 4%;
  }
}

@media (max-width: 1000px) {
  #own-game-container {
    grid-template-rows: 1fr 9fr;
  }

  #own-game-filed-container {
    grid-row: 2;
    grid-column: 1/21;
    padding: 0 10%;
  }
}

@media (max-width: 800px) {
  #own-game-filed-container {
    padding: 0 5%;
  }
}
@media (max-width: 600px) {
  #own-game-filed-container {
    padding: 0 0;
  }

  #own-game-container {
    grid-template-rows: 1fr 8fr 1fr;
  }
}
