<div id="own-game-container" role="region" aria-label="game section">
  
  <section
    appGameDisplayPart
    [class]="step()%2 ===0 ? 'own-animated-border' :'own-game-unchosen-side-div'"
    markup="o"
    [actualMarkup]="actualMarkup()"
    [spentTimes]="spentTimes()"
    [results]="results()"
    [lastMove]="lastMove()"
    [started]="started()"
    role="region"
    aria-label="player one with circle sign"
    [attr.aria-current]="step()%2 === 0 ? 'step' : null"
  >
    <span  ngProjectAs="first">Player - 1(O)</span>
  </section>

  <section
    id="own-game-filed-container"
    appBoard
    [clickPermission]="clickPermission()"
    [size]="size()"
    [lastMove]="lastMove()!"
    [step]="step()"
    role="region"
    aria-label="game board"
  ></section>

  <section
    appGameDisplayPart
    [class]="step()%2 ===1 ? 'own-animated-border' :'own-game-unchosen-side-div'"
    markup="x"
    [actualMarkup]="actualMarkup()"
    [spentTimes]="spentTimes()"
    [results]="results()"
    [lastMove]="lastMove()"
    [started]="started()"
    role="region"
    aria-label="player two with ex sign"
    [attr.aria-current]="step()%2 === 1 ? 'step' : null"
  >
    <span  ngProjectAs="first">Player - 2(X)</span>
  </section>
  
</div>
