<div class="own-snack-element-left-div">
    <span>{{SnackBarObject().duration}}</span>
</div>
<div class="own-snack-element-center-div">
    <span>{{SnackBarObject().content}}</span>
</div>
<div class="own-snack-element-right-div">
      <button class="own-snack-element-close-button " (click)="close()"  aria-label="Close message">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" aria-hidden="true">
          <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
        </svg>
      </button>
</div>