div {
  display: flex;
  flex-direction: column;
}

.own-display-title {

  
  align-items: center;
  justify-content: center;
  font-size: 1.8vw;
  font-weight: bolder;

}
.own-display-content {
}
.own-display-footertitle {
}
