:host {
  background-image: linear-gradient(
    to right bottom,
    var(--gradient-p-component),
    var(--gradient-a-component)
  );
  width: 100%;
  height: clamp(70px, 8vh, 200px);
  border-radius: 1000px;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px var(--a-10), -1px -1px 8px var(--p-10);
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

#own-first-container-div {
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  padding-left: 30px;
}

#own-second-container-div {
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 10px;
}

#own-app-ephasize-div {
  background-color: var(--theme-background);
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-radius: 1000px;
}

@media (max-width: 1400px) {
  #own-app-ephasize-div {
    width: 70%;
  }
}
@media (max-width: 1000px) {
  #own-app-ephasize-div {
    width: 95%;
    justify-content: space-between;
    padding: 0 1px;
  }
}
@media (max-width: 600px) {
  #own-app-ephasize-div {
    width: 100%;
  }
}
