.own-cell-hover {
  &:hover::after {
    padding: 0.3em;
  }
}

.own-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.own-field-icon {
  position: absolute;

  font-weight: 100;
  user-select: none;
  -webkit-background-clip: inherit;
  background: linear-gradient(to bottom right, var(--gradient-p-component), var(--gradient-a-component));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.own-field-cover-icon {
  user-select: none;
  position: absolute;
  color: var(--theme-background);
}

.own-icon-format-div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: display 0.21s ease-in;
}

@keyframes display {
  from {
    opacity: 0;
    scale: 0.1;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
