:host {
  width: 95%;
  height: 95%;
  background-color: light-dark(var(--n-0), var(--theme-background)) !important;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: max(2px , 0.2vw);
  border-style: solid;
  border-color: light-dark(var(--p-90), var(--p-30));
  border-radius: 10px;

  &::after{
    padding: 0.4rem;
  }

  &:hover {
    border-color: light-dark(var(--a-90), var(--a-30));
    scale: 1.05;
  }
}

.own-icon-format-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: display 0.2s ease-in;
  background-color: var(--theme-background);
  border-radius: 10px;
  width: 100%;
  height: 100%;

  svg {
    width: 60%;
    height: 60%;
    max-width: 60%;
    max-height: 60%;
    position: relative;
  }
}

@keyframes display {
  from {
    opacity: 0;
    scale: 0.1;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
