:host {
  background-color: var(--theme-background);
  width: 50% !important;
  height: 80% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1000px;
  padding: 0 10px;
  box-sizing: border-box;
}

#nav-bar-sidebar-trigger {
  display: flex;
  width: max-content;
  height: max-content;
  background-color: var(--theme-background);
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  align-items: center;
  justify-content: center;

  &:hover {
    scale: 1.5;
  }

  &:active {
    scale: 1.2;
  }

  svg {
    fill: var(--p-80);
  }
}

@media (max-width: 1200px) {
  :host {
    width: 70% !important ;
  }
}

@media (max-width: 1000px) {
  :host {
    width: 80% !important ;
    height: 85% !important ;
  }
}

@media (max-width: 800px) {
  :host {
    width: 100% !important ;
  }
}

@media (max-width: 600px) {
  :host{
    justify-content: center;
    align-items: center;
  }
}
