:host {
  position: relative;
  border: 0.2rem light-dark(var(--p-70), var(--p-50)) outset;
  width: 100%;
  border-radius: 1000px;
  box-sizing: border-box;
  display: flex;

  padding: 25px 20px;
  height: max(50px, 8vh);
  align-items: center;

  div {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;

    svg {
      width: max(24px, 2vw);
      height: max(24px, 2vw);
      fill: var(--p-110);
    }

    button {
      height: max(40px, 3vw);
      width: max(40px, 3vw);
      border-radius: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--theme-background);
      border-color: var(--p-110);
      cursor: pointer;

      &:hover {
        scale: 1.1;
      }

      &:active {
        scale: 0.95;
      }
    }

    span {
      font-size: 1vw;
    }
  }

  .own-game-element-title-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    & > :nth-child(1) {
      font-weight: bolder;
    }
    & > :nth-child(2) {
      font-weight: 600;
      color: light-dark(var(--a-110), var(--a-90));
    }
  }

  & > :nth-child(1) {
    align-items: center;
  }
  & > :nth-child(2) {
    width: 20%;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  @media (max-width: 1000px) {
    & > :nth-child(1) {
      & > :nth-child(3) {
        display: none;
      }
    }

    span {
      font-size: 2vw !important;
    }
  }

  @media (max-width: 800px) {
    & > :nth-child(1) {
      & > :nth-child(2) {
        display: none;
      }
    }

    span {
      font-size: 2.5vw !important;
    }
  }
}
