@use "./shared/styles/button" as btn;
$scheme: dark light;
@include btn.basic_button($scheme);

div {
  height: 100%;
  gap: 1vh;
  display: grid;
  grid-template-rows: clamp(70px, 8vh, 200px) 1fr;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  box-sizing: border-box;
}
