@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@mixin create-animation-class($sch) {
  .own-animated-border {
    $scheme: $sch;
    $first-color: if($scheme == "light", var(--p-60), var(--p-20));
    $second-color: if($scheme == "light", var(--a-60), var(--a-20));
    position: relative;
    background-color: if($scheme == "light", var(--n-10), var(--n-20));
    border-radius: 10px;
    width: 100px !important;
    height: 100px !important;
    margin-left: 100px !important;

    border: none;

    &::after,
    &::before {
      --angle: 0deg;
      content: "";
      background-image: conic-gradient(
        from var(--angle),
        var(--a-40),
        var(--p-60)
      );

      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: inherit;
      padding: 3px;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      animation: 3s spin linear infinite;
    }

    &::before {
      filter: blur(0.5rem);
      opacity: 0.4;
    }

    @keyframes spin {
      from {
        --angle: 0deg;
      }
      to {
        --angle: 360deg;
      }
    }
  }
}
