:host {
  flex-direction: column;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;

  #own-loader-wrapper-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  &  > :nth-child(1) {
    position: relative;
    border-bottom: 2px solid light-dark(var(--p-70), var(--p-50));
    height: 5%;
    display: flex;
    align-items: flex-end;
  }
  & > :nth-child(2) {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
}
