
@if (actualObjectSignal()) {

  <form #form="ngForm">

    @for (actualTemplate of actualStructure(); track $index) {
      
        @let control = form.form.get(actualTemplate.key) ;

        <fieldset [class]="control && formErrorHandler.hasErrors(control) ? 'own-error-fieldset' : ''">

            <legend >{{actualTemplate.title+':'}}</legend>


            @if (!['select', 'range'].includes(actualTemplate.type)) {

              @let error = control && formErrorHandler.getPrimaryError(control);
              <input 
                [type]="actualTemplate.type" 
                [name]="actualTemplate.key"  
                [ngModel]="getFieldByModel(actualTemplate.model)()" 
                (ngModelChange)="getFieldByModel(actualTemplate.model).set(helperFunctions.convertType($event, actualTemplate.valueType))"
                (focus)="control ? formErrorHandler.clearErrors(control!): ''"
                [attr.aria-invalid]="error ? 'true' : null">
                
              @if (error) {
                <span class="own-error-span" >{{error}}</span>
              }
              
            }      

            @else if (actualTemplate.type==='select') {

              <select [name]="actualTemplate.key"
                [ngModel]="getFieldByModel(actualTemplate.model)()" 
                (ngModelChange)="getFieldByModel(actualTemplate.model).set(helperFunctions.convertType($event, actualTemplate.valueType))">
                  @for (option of actualTemplate.options; track $index) {
                    <option [value]="option">{{option}}</option>
                  }
              </select>

            }

            @else if (actualTemplate.type==='range') {

              <input 
                [type]="actualTemplate.type" 
                aria-label="difficulty"
                [name]="actualTemplate.key"  
                [min]="actualTemplate.min"
                [max]="actualTemplate.max"
                [ngModel]="getFieldByModel(actualTemplate.model)()" 
                (ngModelChange)="getFieldByModel(actualTemplate.model).set(helperFunctions.convertType($event, actualTemplate.valueType))">

            }

          </fieldset>

    }

  </form>

}