
@if (getActualObject()) {
  <form #form="ngForm">
    @let key = getActualObject()! ;

    @for (actualTemplate of templates.get(key) ; track $index) {
      
        @let control = form.form.get(actualTemplate.field) ;
       
        <fieldset [class]="control && formErrorHandler.hasErrors(control) ? 'own-error-fieldset' : ''">

            <legend>{{actualTemplate.title+':'}}</legend>


            @if (!['select', 'range'].includes(actualTemplate.type)) {

               @let error = control && formErrorHandler.getPrimaryError(control);
              <input [type]="actualTemplate.type" [name]="actualTemplate.field"  
              [ngModel]="getterSetter(actualTemplate.model).get()()" 
              (ngModelChange)="getterSetter(actualTemplate.model).set(helperFunctions.convertType($event, actualTemplate.valueType))"
              (blur)="setErrorsOnOneField(actualTemplate.field)"
              (focus)="control ? formErrorHandler.clearErrors(control!): ''">

              @if (error) {
                <span class="own-error-span" >{{error}}</span>
              }
              
            }      

            @else if (actualTemplate.type==='select') {

              <select [name]="actualTemplate.field"
              [ngModel]="getterSetter(actualTemplate.model).get()()" 
              (ngModelChange)="getterSetter(actualTemplate.model).set(helperFunctions.convertType($event, actualTemplate.valueType))">
                @for (option of actualTemplate.options; track $index) {
                  <option [value]="option">{{option}}</option>
                }
              </select>

            }

            @else if (actualTemplate.type==='range') {

              <input [type]="actualTemplate.type" [name]="actualTemplate.field"  
              [min]="actualTemplate.min"
              [max]="actualTemplate.max"
              [ngModel]="getterSetter(actualTemplate.model).get()()" 
              (ngModelChange)="getterSetter(actualTemplate.model).set(helperFunctions.convertType($event, actualTemplate.valueType))">

            }

          </fieldset>

    }

  </form>

}