@use "./app/shared/styles/titles" as titles;
@use "./app/shared/styles/font-family";
@use "./app/shared/styles/theme" as theme;
//@use "./app/shared/styles/button" as btn;
@use "./app/shared/styles/full-frame-animation" as frame-animation;
@use "./app/shared/styles/color-levels" as levels;

$primary-color: purple;
$accent-color: pink;
$scheme: dark light;

@include titles.rows();
@include font-family.special-font-family("Quicksand");

@include frame-animation.create-animation-class($scheme);
@include theme.create-color-system(
  levels.$gray-levels,
  levels.$primary-levels,
  levels.$accent-levels
);

:root {
  @include theme.create-theme($primary-color, $accent-color, $scheme);

  --theme-background: light-dark(
    color-mix(in oklch, var(--n-0) 95%, var(--theme-primary) 5%),
    color-mix(in oklch, var(--n-0) 80%, var(--theme-primary) 25%)
  );
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 1vh;
  height: 100%;
  box-sizing: border-box;
  background: var(--theme-background);
  color: var(--n-120);

  &::selection {
    background-color: var(--a-10);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  gap: 10px;
  box-sizing: border-box;
  padding-top: 10px;

  fieldset {
    width: 90%;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px outset var(--p-100);
    color: var(--p-100);
    font-weight: bolder;
    font-size: max(15px, 1.4vw);
    flex-direction: column;

    select {
      width: 90%;
      font-size: max(20px, 2vw);
      border-radius: 1000px;
      display: flex;
      box-sizing: border-box;
      padding: 0 10px;
      background-color: var(--p-10);
      border: 2px inset var(--p-100);
    }

    option {
      background-color: var(--n-20);
    }

    input[type="range"] {
      width: 100%;
      accent-color: var(--p-10);
    }
    input[type="text"],
    input[type="password"] {
      width: 90%;
      font-size: max(15px, 1.4vw);
      border-radius: 1000px;
      box-sizing: border-box;
      padding: 10px 10px;
      color: var(--p-100);
      background-color: var(--n-0);
      transition: all ease-in-out 0.3s;
      border: 2px outset var(--p-100);

      &::placeholder {
        color: var(--n-120);
      }

      &:focus {
        border: 2px outset var(--p-110);
        background-color: var(--p-10);
        outline: none;
        padding: 10px 20px;
        font-weight: bolder;
      }
    }

    input[type="color"] {
      width: 100%;
      height: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      //border: none;

      border-radius: 1000px;

      background: none;
      cursor: pointer;

      &:focus {
        outline: none;
        border: 2px outset var(--p-50);
      }

      &::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: inherit;
      }

      &::-webkit-color-swatch {
        border: none;
        border-radius: inherit;
      }
    }
  }
}
