#own-dialog-background {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 90;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#own-dialog-div {
  width: 50%;
  height: 70%;
  min-height: 400px;
  min-width: 400px;
  border-radius: 10px;
  background-color: var(--n-0);
  z-index: 100;
  border: 2px outset light-dark(var(--n-20), var(--n-120));
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

#own-title-div {
  color: var(--p-110);
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: max(20px, 1.8vw);

  & span:last-child {
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    &:hover {
      scale: 1.3;
    }
  }
}

#own-action-div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  button {
    background-color: var(--n-0);
  }
}

#own-content-div {
  display: flex;
  overflow: hidden;
}

.own-error-span {
  width: 85%;
  font-weight: bold;
  color: red;
  transition: all ease-in 0.3s;
  font-style: italic;
}
