#own-snack-bar-div {
  z-index: 80;

  position: fixed;
  min-width: 350px;
  width: 25%;
  min-height: 40%;
  display: grid;
  align-items: center;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 0;
  box-sizing: border-box;
}



@media (max-width: 1400px) {
  #own-snack-bar-div {
    width: 50%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
